@CHARSET "UTF-8";

#contacto{
	margin:auto;
}
#logo{
	display:block;
	float:right;
	width:200px;
	height:140px;
}
.cont{
	display:none;
	margin:auto;
}
p{
	text-align:justify;
}
a
{
	text-decoration:none;
	margin:auto;
}
a:visited
{
	color:#370737;
}
a:hover
{
	color:#F30707;
}

article{
	display:block;
	margin-top:40px;
	float:left;
	width:75%;
	border-radius:10px;
	background-color:#F4DDDD;
}
.article{
	width:95%;
	margin:20px;
}
img.article{
    	width:95%;
    	margin:20px 20px 40px 20px;
    }
aside{
	display:block;
	margin-top:40px;
	float:right;
	background-color:#BBBBBB;
	border-radius:10px;
	text-align:left;
}
body
{
	background-color: #AAAAAA;
	font-family:Tahoma;
	font-size:18px;
	text-align:center;
}
#h1p
{
	line-height:60px;
	margin-bottom:1px;
	margin-top:10px;
	margin-left:5px;
	text-align:left;
	text-indent:10px;
	text-shadow:2px 1px #AAAAAA;
}
#h2p
{
	text-align:left;
	margin-top:1px;
	margin-bottom:30px;
	text-indent:30px;
	font-size:20px;
	text-shadow:2px 1px #AAAAAA;
}
h2{
	text-align:left;
}
#email,#whatsapp
{
	cursor:pointer;
}
header
{
	margin-left:-8px;
	margin-right:-8px;
	background-color:#F1B702;
	color:#000000;
	
}

img.contacto
{
	width:50px;
	height:50px;
}
img.contacto:hover
{
	filter:grayscale(50%);
}

.section
{
	margin:10px;
}
.aside{
	margin:10px;
	text-align:center;
}
section{
	display:block;
	text-align:left;
	margin-top:40px;
	float:left;
	width:75%;
	border-radius:10px;
	background-color:#CCCCCC;
}
li{
	list-style-position:outside;
	list-style-type:circle;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height:100%;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 1280px){
    .modal-content {
        width: 100%;
    }
    .principal{
		margin-left:-8px;
		margin-right:-8px;
    }
    section{
		width:100%;
    }
    aside{
		float:left;
	}
    article{
		width:100%;
    }
    img.article{
    	width:90%;
    	margin:5px 5px 20px 10px;
    }
    .article{
		margin:10px;
    }
@media only screen and (max-width: 720px){ 
    #logo{
	display:block;
	margin:auto;
	float:none;
	vertical-align: middle;
	}
	#h1p{
		text-align:center;
		margin:auto;
	}
    .modal-content {
		margin: auto;
		display: block;
		width:100%;
		height:80%;
		
		
    }
